# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml


.vscode/*

# Allow the empty folder to be commited
user_uploads/*
!user_uploads/.gitignore

